.sleep-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -55px 20px 30px 0px;
    border-radius: 8px;
  }

  .sleep-form {
    width: 225px;
    height: 225px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }

  .sleep-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .sleep-form-container input[type="date"],
  .sleep-form-container input[type="number"],
  .sleep-form-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .sleep-form-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .sleep-form-container button:hover {
    background-color: #0056b3;
  }
