.page-nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 20px;
    background: transparent;
  }

  .page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 35px;
    text-decoration: none;
    transition: transform 0.3s ease;

  }

  .page-label {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }

  .page-item:hover,
  .active {
    transform: scale(1.1);
  }

  .active .page-icon {
    background-color: #ffffffbb;
    border-radius: 5px;
  }

  .page-item .page-icon {
    width: 60px;
    height: 60px;
    transition: background-color 0.3s, transform 0.3s ease;
  }
