.nutrition-page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.date-cards-container {
  width: 425px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 30px 20px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.date-navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.date-navigator button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.date-navigator input[type="date"] {
  padding: 5px;
  background-color: #f9f9f9;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cards-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-container-hello {
  display: flex;
  overflow: hidden;
  padding: 10px;
  gap: 15px;
  justify-content: center;
  flex: 1;
}

.left-arrow, .right-arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 15px;
}

.nutrition-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
  padding: 10px;
  cursor: pointer;
  width: 90px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: transform 0.3s ease, z-index 0.3s ease;
  position: relative;
  margin-bottom: 10px;
}

.nutrition-card p {
  font-size: 14px;
  text-align: center;
}

.nutrition-card:last-child {
  margin-right: 0;
}

.nutrition-card:hover {
  z-index: 10;
  transform: scale(1.1);
}

.selected-card {
  transform: scale(1.1);
  z-index: 10;
}

.nutrition-card-icon {
  width: 120px;
  height: 120px;
}

.meal-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.meal-details ul {
  list-style: none;
  padding-left: 0;
}

.meal-details li {
  padding-left: 20px;
  position: relative;
}

.meal-details li:before {
  content: '✧';
  position: absolute;
  left: 0;
  color: #0864ec;
  font-size: 20px;
}

.delete-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
  margin-left: 26px;
  margin-top: 20px;
}

.delete-buttons button {
  background-color: #181c24;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
}

.delete-buttons button:hover {
background-color: #f44336;
}
